### Creating a SQL database

In [38]:
import pandas as pd
import numpy as np
import sqlite3

### Reading tables to import into the database

In [24]:
!pwd

/home/dsc/Documents/repos-ja/masterDataScience

In [21]:
cd /home/dsc/Documents/repos-ja/masterDataScience/

/home/dsc/Documents/repos-ja/masterDataScience

In [25]:
!ls ./data/

airbus_records.csv   my_fb_friends.csv	   optd_por_public.csv
Finn_nbl.txt	     my_ldin_contacts.csv  ref_airline_nb_of_flights.csv
Finn_remove_tws.txt  optd_aircraft.csv
Finn.txt	     optd_airlines.csv

Loading CSV

In [35]:
airbus_records = pd.read_csv("./data/airbus_records.csv", delimiter = "|")
optd_aircraft = pd.read_csv("./data/optd_aircraft.csv", delimiter = "^")
optd_airlines = pd.read_csv("./data/optd_airlines.csv", delimiter = "^")
optd_por_public = pd.read_csv("./data/optd_por_public.csv", delimiter = "^")

/home/dsc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Importing tables in database _optd_

In [40]:
conn = sqlite3.connect('./data/bbdd/optd.db')

In [41]:
airbus_records.to_sql("airbus_records", conn, if_exists='replace')
optd_aircraft.to_sql("optd_aircraft", conn, if_exists='replace')
optd_airlines.to_sql("optd_airlines", conn, if_exists='replace')
optd_por_public.to_sql("optd_por_public", conn, if_exists='replace')

__Querying__:

In [57]:
query = "SELECT model,nb_engines FROM optd_aircraft WHERE nb_engines >= 4"

In [58]:
pd.read_sql_query(query, conn)

                                 model  nb_engines
0                              146-100         4.0
1        BAE Systems 146-200 Passenger         4.0
2                              146-300         4.0
3          146 Freighter (-100QT & QC)         4.0
4          146 Freighter (-200QT & QC)         4.0
5          146 Freighter (-300QT & QC)         4.0
6                             A340-200         4.0
7                             A340-300         4.0
8                             A340-500         4.0
9                             A340-600         4.0
10                                A380         4.0
11                               A380F         4.0
12                             707-300         4.0
13                       707 Freighter         4.0
14                           707 Combi         4.0
15                             747-100         4.0
16                             747-200         4.0
17                             747-300         4.0
18                             747-400         4.0
19         747-400 Swingtail Freighter         4.0
20                       747-200 Combi         4.0
21                       747-300 Combi         4.0
22                       747-400 Combi         4.0
23                              747-8i         4.0
24                  747-400 (Domestic)         4.0
25                               747SP         4.0
26                              747-8F         4.0
27                               747SR         4.0
28                   747-100 Freighter         4.0
29     747-300 / 747-200 SUD Freighter         4.0
..                                 ...         ...
32                   747-400 Freighter         4.0
33                               An-22         4.0
34                              An-124         4.0
35                              An-225         6.0
36                               An-12         4.0
37                          Avro RJ100         4.0
38                           Avro RJ70         4.0
39                           Avro RJ85         4.0
40                                720B         4.0
41                 DC-6A/B/C Freighter         4.0
42                             DC-8-62         4.0
43                          DC-8 Combi         4.0
44                             DC-8-72         4.0
45                   DC-8-50 Freighter         4.0
46         DC-8-61 / 62 / 63 Freighter         4.0
47         DC-8-71 / 72 / 73 Freighter         4.0
48                                DC-4         4.0
49                              DC6A/B         4.0
50                        DHC-7 Dash 7         4.0
51                        DH.114 Heron         4.0
52                     IL-96 Freighter         4.0
53                               IL-62         4.0
54                               IL-76         4.0
55                               IL-18         4.0
56                               IL-96         4.0
57                               IL-86         4.0
58                       L-188 Electra         4.0
59             L-188 Electra Freighter         4.0
60  L-182 / 282 / 382 (L-100) Hercules         4.0
61                                 Y-8         4.0

[62 rows x 2 columns]